body{
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.header{
  margin: 0 0 30px;
  padding: 0 0 90px;
  display: flex;
  flex-direction: column;
  background-color: #1F2937;
  color: #F9FAF8;
}
.header-1{
  display:flex;
  align-items: center;
  margin:20px 200px 60px;
  padding: 0;

}
.header-2{
  display:flex;
  justify-content: center;
  margin:0 200px;
  gap:80px;
  
}
.content{
  flex:1;
  display:flex;
  flex-direction: column;
}
.heading{
  font-size: 48px;
  font-weight:bolder;
}
.b1{
  border-radius: 10px;
  width:100px;
  padding: 10px;
  color:#F9FAF8;
  background-color: #3882F6;
  font-weight: bolder;
}
.img1{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:20px;
  color: #1F2937;
  background-color: #E5E7EB;
}
.links{
  margin-left: auto;
  font-size: 18px;
  color:#F9FAF8;
}
.logo{
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
}
ul{
  display: flex;
  list-style-type: none;
  margin: 0;
  gap:20px;
}
a{
  text-decoration: none;
}
.body1{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}
.container{
  display: flex;
  gap:30px;
}
.data{
  width:140px;
  display: flex;
  flex-direction: column;
}
.img2{
  width:132px;
  height: 140px;
  border-style: solid;
  border-width: 4px;
  border-color: #3882F6;
  border-radius: 15px;;
}
.contain{
  text-align: center;
  margin:10px 0;
}
.info{
  font-size: 36px;
  font-weight: bolder;
  color:#1F2937;
}
.body2{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 40px;
  background-color:#E5E7EB;
}
.text{
  width:500px;
}
.p2{
  margin: 0;
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
}
.speaker{
  margin:0;
  font-weight: bolder;
  text-align: right;
}
.body3{
  display: flex;
  justify-content: center;
  align-items: center;
}
.division{
  margin:70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:180px;
  width:900px;
  height:150px;
  color:#F9FAF8;
  background-color: #3882F6;
  border-radius: 7px;
}
.p3{
  
  margin-bottom: 0;
  font-weight: 920;
  font-size:x-large;
}
.p4{
  margin-top: 2px;
}
.b3{
  border-color: #F9FAF8;
  border-radius: 10px;
  width:100px;
  padding: 10px;
  color:#F9FAF8;
  background-color: #3882F6;
  font-weight: bolder;
  font-size: 17px;
}
.footer{
  background-color:#1F2937;
  color: white;
  padding:25px;
  display: flex;
  justify-content: center;
  align-items: center;
}